<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
	    {% include 'layouts/head.html' %}
	    <link rel="stylesheet" href="{% static 'assets/css/signin.css' %}">
	</head>
	<body>
	    {% include 'layouts/body_login.html' %}
	</body>
</html>